
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">{{message}}</h1>
            <p class="lead text-muted">{{error.status}}</p>
            <!-- <p class="col-xs-1 lead text-body">
                {{error.stack}}
            </p> -->
        </div>
    </div>
</section>
