<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Welcome to my portfolio!</h1>
            <p class="lead text-muted">Here, you will find info on my individual prrojects, experience, and some of my interests. If you'd like to reach me please complete the <a href="/contact">contact me form</a></p>
            <p>
                <a href="/projects" class="btn btn-primary my-2">Projects</a>
                <a href="/resume" class="btn btn-secondary my-2">Resume</a>
            </p>
        </div>
    </div>
</section>

{{>projectsList}}