<section class="py-1 text-center container">
    <div class="row py-lg-2">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Welcome to my portfolio!</h1>
            <p class="lead text-muted">Here, you will find info on my work experience, education, and some of my interests. If you'd like to reach me please complete the <a href="/contact">contact me form</a></p>
            <p>
                <a href="/transcript" class="btn btn-primary my-2">Transcript</a>
                <a href="/resume" class="btn btn-secondary my-2">Resume</a>
            </p>
        </div>
    </div>
</section>


<iframe src="https://drive.google.com/file/d/1cXiNqQOIcOVREUFRPdgEwR2LicAazy5Q/preview" width="100%" height="100%" allow="autoplay"></iframe>